__pycache__/
logs/
data/
scripts/
scripts_parallel/
ckpts/
analysis/
check/
results/
plot_figures/
handle.py

# 重新包含 data/ 目录本身
!data/


# 重新包含 data/ 目录中的所有 .py 文件
!data/*.py

*.npz
*.npy
*.h5
*.pkl
*.pt
*.pth
*.csv
*.xlsx
*.mat

*.jpg
*.png
*.pdf

*.txt
*.sh
*.ckpt
*.ipynb
*.log
!README.md
!assets/Model.png
!assets/performance.png
!LICENSE.txt